header
{
	height: 30px;
	padding: 10px 0 0 10px;
	background: #ddd;
	margin-bottom: 20px;
}

.building_box
{
	border: 1px solid black;
	height: 100px;
	padding: 25px;
	margin-top: 20px;
	width: 80px;
}

.building_box button
{
	margin-bottom: 5px;
}